name: Production Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Get Version from Tag
      id: get_version
      run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

    - name: Publish API
      run: dotnet publish Arclight.Api/Arclight.Api.csproj -c Release -o ./publish /p:Version=${{ env.VERSION }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Arclight-Api-${{ env.VERSION }}
        path: ./publish

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          ./publish/**/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
