name: Production Release

on:
  push:
    tags:
      - 'v*'

  workflow_dispatch:
    inputs:
      version:
        description: 'Test Version Number (e.g. 1.0.0-test)'
        required: true
        default: '1.0.0-dryrun'

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v6
      with:
        dotnet-version: 10.0.x

    - name: Set Version
      id: set_version
      run: |
        if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
          echo "VERSION=${{ inputs.version }}" >> $GITHUB_ENV
        else
          echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
        fi

    - name: Publish API
      run: dotnet publish Arclight.Api/Arclight.Api.csproj -c Release -o ./publish /p:Version=${{ env.VERSION }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Arclight-Api-${{ env.VERSION }}
        path: ./publish

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          ./publish/**/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
